In [4]:
print("Hello World") #Python is case sensitive language

Hello World

In [5]:
_myvariable = 10
print(_myvariable)

10

In [11]:
name = "Alice"
age1 = 25
_student = "Raj"
total_marks = 450
Price = 99.99

print(name,
      age1,
      _student,
     total_marks,
     Price)

print(name)
print(age1)
print(_student)
print(total_marks)
print(Price)

Alice 25 Raj 450 99.99
Alice
25
Raj
450
99.99

In [20]:
#Legal Variables
name='Suresh' #1 Starting with lower case 
contact1=9884854593 #2 Number at the end 
_Course_name="Python" #3 Starting with underscore'_' and having in any deisred location
No_of_Days_sinceclass_started=4 #4 Mixed case upper case, lower case, underscore
TrAiner_nAmE='Raja' #5 Mixed case in a single or multiple word
LOCATION="Velachery" #6 All upper case

print(name)
print(contact1)
print(_Course_name)
print(No_of_Days_sinceclass_started)
print(TrAiner_nAmE)
print(LOCATION)

Suresh
9884854593
Python
4
Raja
Velachery

In [24]:
#Illegal Variables
1name='Suresh' #1 Starts with number
full-name='Suresh R' #2 Hyphen is not allowed
class="Python" #3 'class' is keyword 
Trainer Name="Raja" #4 Space is not allowed
@contact='samle@email.com' #5 Special characters not allowed
no. of days since start date = 8 #6 Mixed case of anything above or hainvg [DOT] is not allowed

SyntaxError: invalid decimal literal (777104886.py, line 2)

In [33]:
1name='Suresh' 
print(1name)

SyntaxError: invalid decimal literal (832219382.py, line 1)

In [34]:
full-name='Suresh R'
print(full-name)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2379727981.py, line 1)

In [37]:
class="Python" 
print(class)

SyntaxError: invalid syntax (4189827187.py, line 1)

In [38]:
Trainer Name="Raja" 
print(Trainer Name)

SyntaxError: invalid syntax (1747405731.py, line 1)

In [39]:
@contact='samle@email.com' 
print(@contact)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2022498678.py, line 1)

In [40]:
no. of days since start date = 8
print(no. of days since start date)

SyntaxError: invalid syntax (2628755338.py, line 1)