In [12]:
##     Condition Statement
''' 3 types
condition needs to be satisfied to get the desired output
1) if
2) elif - else + if together called elif
3) else

irrespective of the aboe if any condition key word is starting then the next line must start with a space/tab 
inorder to work accordingly if not you will get like the below error
---Error----
Cell In[3], line 22
    print(a)
    ^
IndentationError: expected an indented block after 'if' statement on line 21
---Error----
ex: k=2
    y=5

if k>y:
    print(k)
    else print("False")

## for any codition statement the line should end with colon :
'''
a = 5
b = 10
if a==5:
 print(a)

a = 5
b = 10
if a>b:
    print(a)
else: print(b) ## b is greater

5
10

In [13]:
# method 1
a = 5
b = 10
c = 6
if a>b>c:
    print(a)
elif b>c: 
    print(b) 
else:
    print("same")

10

In [15]:
# method 2
a = 5
b = 10
c = 6
if a>b and a>c:
    print(a)
elif b>c: 
    print(b) 
else:
    print(C)

10

In [17]:
a = "apple"
if a in a:
    print("Defined")
else:
    print("Not Defined")

Defined

In [44]:
##    Nested Condition
Skill = "Python"
Exp = 1
Company = "Wipro"

# Skill = "Python"
# Exp = 2
# Company = "TCS"

Skill = "Python"
Exp = 2
Company = "TCS"

if Skill == "Python":
    if Exp == 2:
        print("Wipro")
    elif Exp == 2:
        print("TCS")
    else:
        print("No Match Found")
else:
    print("No Match")

Wipro